-
  var mobIcons = [
  {
  src: 'assets/images/icons/if_Account_2202250.svg',
  id: 'nav-about',
  'data-target': 'about'
  },
  {
  src: 'assets/images/icons/if_Chat_bubble_2202260.svg',
  id: 'nav-contact',
  'data-target': 'contact'
  },
  {
  src: 'assets/images/icons/if_Folder_2202274.svg',
  id: 'nav-portfolio',
  'data-target': 'portfolio'
  }
  ]

-
  var portfolioItems = [
  {
  title: 'Brewery Search'
  },
  {
  title: 'Gif Grab'
  },
  {
  title: 'RealTime Rock Paper Scissors'
  },
  {
    title: 'Bootstrap Portfolio'
  },
  {
  title: 'Vanilla js Portfolio'
  },
  {
  title: 'Hang|Man'
  },
  {
  title: 'StarWars RPG'
  },
  {
  title: 'Trivia'
  }
  ]

doctype html
html(lang='en')

  head
    title Benjamin Rose
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Do+Hyeon|Roboto" rel="stylesheet")
    link(rel='stylesheet' type='text/css' href='assets/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='assets/css/style.css')
body

  header.container-fluid.fixed-top.position-fixed#head
    .row.justify-content-center.navbar-dark.bg-dark.border-bottom.border-light.text-center
      .col-auto
        .row.justify-content-center.position-relative.float-left
          .col-auto
            .row.justify-content-center
              .col-auto
                .row.position-relative
                each attr in mobIcons
                    .col-auto.bg-danger.nav-icons.mr-2.ml-2.position-relative.float-left
                      img.p-2.ic(alt='icon' style="height: inherit")&attributes(attr)
  header.container-fluid.top-filler

  footer.container-fluid.position-fixed.fixed-bottom.navbar-dark.bg-dark.border-top.border-secondary
    .row.justify-content-center
      .col-auto.text-center.text-light
        .p &copy; Benjamin Rose 2018

  .wrapper.container-fluid.p-0.mb-4
    section.col-12#about
      //img.splash(src='assets/images/milky-way.jpg')
      .row.justify-content-center.border-secondary.border-bottom.p-0#about-row
        .col
          .row.justify-content-center.text-center
            #name-div.col-auto.text-center.h1.text-light.mb-2.p-2
              span#name.title
          .row.justify-content-center.mt-2
            .col-11.col-sm-11.col-md-10.col-lg-8.col-xl-8.text-light.card.pl-0.pr-0.pb-5.mb-5#about-card
              .row.p-0.p-md-2
                .col-12.card-body
                  p With a short lifetime's worth of experience in tinkering, I am no stranger in the world of technology.

                  p From the core electronic components, to the vast networks that connect the globe, I am inspired as well as fascinated by the technological heights that we as a global population have reached through our primal need to build upon what already works. This fascination of mine thus drives me to fulfill my self-declared purpose, to become one cog in the machine that works toward further advancement of technology itself.

                  p As for the skills I have developed in chasing this dream, I have a wide breadth of experience in developing web and desktop applications in a variety of programming languages including javaScript, html, css, Python/Django, Ruby/Rails, and Java. I also have a bit of experience developing software for IoT devices such as the Arduino and RaspberryPi units.
      .row.border-secondary.border-bottom.p-0.border-bottom.border-secondary#more-row
        .col-12.col-md-auto.h-100.border-right.border-secondary#more-graphic
          .row.justify-content-center.mt-3#more-pic
            .col-auto.text-center.text-light
              p.h1.title Portfolio Preview

              p.h3.title.mt-2 Click the "Folder" icon for more info
        .col-12.col-md
          //.row.justify-content-center.bg-danger.border-bottom.border-secondary.pt-2
          //  .col-auto.text-light.text-center
          //    p.title.h2 Place Holder!
          .row
            .col-auto.border-right.border-secondary.pre-scrollable.pl-0.pr-0.pb-2.mb-0.h-100
              ul.p-0.m-0.pb-3#more-list
                each item in portfolioItems
                  li.list-group-item.text-light.border-right-0.border-top-0.border-left-0.border-secondary #{item.title}
            .col
    section.col-12#contact
      //img.splash(src='assets/images/milky-way.jpg')
      .row.justify-content-center.border-secondary.border-bottom.p-0#contact-row
        .col
          .row.justify-content-center.text-center
            #blame-div.col-auto.text-center.text-light.mb-2.p-2
              span#blame.title
          .row.justify-content-center.mt-2
            .col-11.col-sm-11.col-md-10.col-lg-8.col-xl-8.text-light.card.pl-0.pr-0.pb-5.mb-5#contact-card
              .row.p-0.p-md-2
                .col-12.card-body
                  p With a short lifetime's worth of experience in tinkering, I am no stranger in the world of technology.

                  p From the core electronic components, to the vast networks that connect the globe, I am inspired as well as fascinated by the technological heights that we as a global population have reached through our primal need to build upon what already works. This fascination of mine thus drives me to fulfill my self-declared purpose, to become one cog in the machine that works toward further advancement of technology itself.

                  p As for the skills I have developed in chasing this dream, I have a wide breadth of experience in developing web and desktop applications in a variety of programming languages including javaScript, html, css, Python/Django, Ruby/Rails, and Java. I also have a bit of experience developing software for IoT devices such as the Arduino and RaspberryPi units.
    section.col-12#portfolio
      //img.splash(src='assets/images/milky-way.jpg')
      .row.justify-content-center.border-secondary.border-bottom.p-0#portfolio-row
        .col
          .row.justify-content-center.text-center
            #game-div.col-auto.text-center.h1.text-light.mb-2.p-2
              span#game.title
          .row.justify-content-center.mt-2
            .col-11.col-sm-11.col-md-10.col-lg-8.col-xl-8.text-light.card.pl-0.pr-0.pb-5.mb-5#portfolio-card
              .row.p-0.p-md-2
                .col-12.card-body
                  p With a short lifetime's worth of experience in tinkering, I am no stranger in the world of technology.

                  p From the core electronic components, to the vast networks that connect the globe, I am inspired as well as fascinated by the technological heights that we as a global population have reached through our primal need to build upon what already works. This fascination of mine thus drives me to fulfill my self-declared purpose, to become one cog in the machine that works toward further advancement of technology itself.

                  p As for the skills I have developed in chasing this dream, I have a wide breadth of experience in developing web and desktop applications in a variety of programming languages including javaScript, html, css, Python/Django, Ruby/Rails, and Java. I also have a bit of experience developing software for IoT devices such as the Arduino and RaspberryPi units.






  script(src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js")
  script(src="assets/javascript/logic.js")


